-- Parameter file for a GoldenGate Extract process
{% for item in streams %}
{% if ( item.stream.suffix == stream ) %}
EXTRACT {{ item.stream.extract }}{{ stream }}
SETENV (ORACLE_SID=COGCSS)
SETENV (ORACLE_HOME={{ my_source.gg_config.oracle_home }})
USERIDALIAS {{ my_source.gg_config.useridalias }}
--TRANLOGOPTIONS IntegratedParams (max_sga_size 256)
LOGALLSUPCOLS
UPDATERECORDFORMAT COMPACT

DDL INCLUDE ALL
DDLOPTIONS REPORT

EXTTRAIL ./dirdat/{{ stream }}

-- MAPPINGS --
{% if item.stream.users is defined %}
{% for map in item.stream.users %}
TABLE {{ map }}.*;
SEQUENCE {{ map }}.*;
{% endfor %}
{% endif %}

-- MAP EXCLUDES --
{% if item.stream.map_excludes is defined %}
{% for map in item.stream.map_excludes %}
MAPEXCLUDE {{ map }}
{% endfor %}
{% endif %}

{% endif %}
{% endfor %}


