# Stop EXTRxx/DPUMPxx processes
. ~/ogg.env
. {{ my_source.host.env_script }}
cd $ORACLE_GG_HOME
./ggsci <<EOF
info all

{% if run_mode == 'safe' %}
-- Remove this line by setting the 'run_mode' variable in the main playbook
exit
{% endif %}

dblogin userid {{ my_source.gg_config.username }} password {{ my_source.gg_config.password }}
{% for item in streams %}
{% if item.stream.prefix == stream %}
stop extract {{ item.stream.extract }}{{ item.stream.stream }}
{% if item.stream.dpump %}
stop extract {{ item.stream.dpump }}{{ stream }}
{% endif %}
{% endif %}
{% endfor %}
