#!/bin/bash
# Create GG source processes
. ~/ogg.env
export ORACLE_HOME={{ my_target.gg_config.oracle_home }}
export ORACLE_GG_HOME={{ target_oracle_gg_home }}
export LD_LIBRARY_PATH={{ my_target.gg_config.oracle_home }}/lib:$ORACLE_GG_HOME:.
export PATH=$PATH:$ORACLE_GG_HOME:.
{% if ansible_hostname == my_source.host.hostname %}
. {{ my_target.host.env_script }}
{% endif %}
cd $ORACLE_GG_HOME
./ggsci <<EOF
info all

{% if run_mode == 'safe' %}
-- Remove this line by setting the 'run_mode' variable in the main playbook
exit
{% endif %}

{% for item in streams %}
{% if item.stream.suffix == stream %}
start replicat {{ item.stream.replicat }}{{ stream }}
{% endif %}
{% endfor %}
exit
EOF
exit 0
