#!/bin/bash
# Kill source processes
. ~/ogg.env
export ORACLE_HOME={{ my_source.gg_config.oracle_home }}
export ORACLE_GG_HOME={{ source_oracle_gg_home }}
export LD_LIBRARY_PATH={{ my_source.gg_config.oracle_home }}/lib:$ORACLE_GG_HOME:.
export PATH=$PATH:$ORACLE_GG_HOME:.
. {{ my_source.host.env_script }}
cd $ORACLE_GG_HOME
./ggsci <<EOF
info all

{% if run_mode == 'safe' %}
-- Remove this line by setting the 'run_mode' variable in the main playbook
exit
{% endif %}

-- Login into the source database
{% if my_source.gg_config.useridalias %}
dblogin useridalias {{ my_source.gg_config.useridalias }}
{% endif %}


{% for item in streams %}
{% if item.stream.suffix == stream %}
-- delete the extracts
delete extract {{ item.stream.extract }}{{ item.stream.suffix }}
{% if item.stream.dpump %}
-- delete the extracts
delete extract {{ item.stream.dpump }}{{ item.stream.suffix }}
{% endif %}
{% endif %}
{% endfor %}

exit
EOF

rm ./dirdat/{{ stream }}*
{% for item in streams %}
{% if item.stream.suffix == stream %}
rm ./dirrpt/{{ item.stream.extract }}{{ item.stream.suffix }}*.rpt
rm ./dirchk/{{ item.stream.extract }}{{ item.stream.suffix }}*.cp*
rm ./dirpcs/{{ item.stream.extract }}{{ item.stream.suffix }}*.pc*
rm ./dirdmp/*{{ item.stream.extract }}{{ item.stream.suffix }}*.dmp
{% if item.stream.dpump %}
rm ./dirrpt/{{ item.stream.dpump }}{{ item.stream.suffix }}*.rpt
rm ./dirchk/{{ item.stream.dpump }}{{ item.stream.suffix }}*.cp*
rm ./dirpcs/{{ item.stream.dpump }}{{ item.stream.suffix }}*.pc*
rm ./dirdmp/*{{ item.stream.dpump }}{{ item.stream.suffix }}*.dmp
{% endif %}
{% endif %}
{% endfor %}
exit 0
