#!/bin/bash
#
# Exports all schema for a particular stream
. {{ my_target.host.env_script }}

{% for item in streams %}
{% if item.stream.suffix == stream %} 
{% for user in item.stream.users %}
impdp system/{{ target_system_pwd.stdout }} \
 directory={{ my_target.host.ora_dump_directory }} \
 dumpfile={{ my_source.host.instance_name }}_{{ stream }}_{{ user }}.dmp \
{% if remap_tablespace is defined %}
 remap_tablespace={{ remap_tablespace }} \
{% endif %}
 exclude=statistics \
 transform=disable_archive_logging:Y \
 logfile=i_{{ my_source.host.instance_name }}_{{ stream }}_{{ user }}.log
{% endfor %}
{% endif %}
{% endfor %}

exit 0
