#!/bin/bash
#
. {{ my_source.host.env_script }} > /dev/null

sqlplus -s /nolog <<EOF
connect sys as sysdba
col current_scn format 999999999999999
set echo off
set lines 200
set pages 0
set feedback off
spool /tmp/cur_scn.log
select current_scn from v\$database;
spool off
<<EOF
exit 0
